<article class="relative">
  <div class="relative z-50 w-full h-full bg-secondary rounded-2xl">
    <input
      type="text"
      class="bg-secondary text-white text-3xl font-bold mx-4 px-3 py-4 my-5 font-bold outline-none"
      placeholder="type a name"
    />
    <button class="bg-white ml-3 mb-3 rounded-2xl px-4 py-3 my-5 mx-4 font-bold text-secondary">
      +
    </button>
  </div>
  <div class="absolute z-20 bottom-0 left-0 h-full w-full bg-white ml-3 mb-3 rounded-2xl"></div>
</article>
